@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Source+Sans+Pro');

.container {
    background: url(../image/brand/flower-bck.jpg) repeat;
}

/* .col {
  margin: 5px;
  padding-bottom: 5px;
} */

/* class */

header {
  background: url(../image/home/banner.jpg) repeat;
  margin-bottom: 20px;
  text-align: center;
}

header img {
  width: 110px;
  margin: 15px;
}

/* nav */
nav {
  font-size: 24px;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  background: #ECECDA;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
    color: #743F6F;
}

footer a {
  color: white;
}

a:hover {
  color: rgb(244, 79, 172);
}

a:active {
  color: rgb(244, 79, 172);
}

/* blockquote */
.mb-0 {
  font-size: 24px;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  color: #743F6F;
}

/* font */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: black;
}

h2 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 45px;
  color: #743F6F;
  margin: 0;
}

h3, h4, h5 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  color: rgb(110, 34, 99);
  margin: 0;
}

h5 {
  padding-top: 10px;
  font-variant-caps: all-small-caps;
  font-size: 25px;
  color: black;
}
h3 {
  font-size: 26px;
  background: #ECECDA;
  padding: 10px;
  line-height: 26px;
  /* font-style: oblique; */
}

h4 {
  font-size: 22px;
}

p, li {
  line-height: 24px;
  font-size: 16px;
  margin-top: 10px;
}

/* homepage */

.headline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 0px;
  color: white;
  background: #743F6F;
  line-height: 40px;
}


.carousel-control-prev, .carousel-control-next {
  background: #743F6F;
  height: 40px;
  width: 40px;
  margin: auto;
}

.card-3 img {
  width: 100px;
  margin: 10px;
  margin-bottom: 20px;
}

.card-3 h3, p {
  text-align: center;
}

/* education */

.card-body {
  text-align: center;
}

.btn-primary {
  background: purple;
}

/* about / bio*/
.headshot img {
  width: 225px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.bio p {
  text-align: left;
  background: rgb(187, 148, 197, 0.05);
  /* padding: 20px; */
}

/* resume */
/* .bd-highlight {
  color: white;
} */

.resume-head {
  text-align: center;
  background: #743F6F;
  color: white;
  padding-bottom: 8px;
}

.resume-head h2  {
  color: white;
  margin-bottom: 15px;
}

.resume-head p {
  line-height: 10px;
  text-align: center;
}


#resume {
  background: #ECECDA;
}

#resume h2 {
  text-align: center;
  padding-bottom: 12px;
  }

#resume h4 {
  padding-top: 10px;
  padding-left: 10px;
  background: rgb(187, 148, 197, 0.05);
  }

#resume h5 {
  padding-left: 10px;
  background: rgb(187, 148, 197, 0.05);
  /* background-color: blue; */
}

#resume p, li {
  text-align: left;
  margin: 0;
  padding-left: 10px;
  background: rgb(187, 148, 197, 0.05);
  /* margin-bottom: 5px; */
  }
.desc {
  color: #743F6F;
}

.bottom {
    padding-bottom: 20px;
}

#resume .list {
  /* padding-left: 10px; */
  background: rgb(187, 148, 197, 0.05);
  padding: 5px;
}

.quick-links img {
  width: 65px;
}

.quick-links {
  text-align: center;
  /* background: rgb(187, 148, 197, 0.05); */
  padding-bottom: 20px;
}

/* footer */
footer {
  background: #743F6F;
}

footer p {
  color: white;
  margin-top: 20px;
}
