/* class */

header {
  background: url(../image/home/banner.jpg) repeat;
  margin-bottom: 20px;
}

header img {
  width: 110px;
  margin: 15px;
}

nav {
    background: #743F6F;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: white;
}

footer a {
  color: white;
}

a:hover {
  color: rgb(244, 79, 172);
}

a:active {
  color: rgb(244, 79, 172);
}

/* home */

.headline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background: #743F6F;
  font-size: 21px;
}

.carousel-control-prev, .carousel-control-next {
  background: #ECECDA;
}

.container {
    background: white;
    background: url(../image/brand/flower-bck.jpg) repeat;
}

.card-3 img {
  width: 100px;
  margin: 10px;
  margin-bottom: 20px;
  color: black;
}

/* more */

.slider-home img {
  width: 680px;
}

.row {
  text-align: center;
  color: purple;
}

.btn {
  background: purple;
}

.carousel-caption{
  font-size: 30px;
}

.carousel-caption p{
  color: black;
}

/* about */
.headshot img {
  margin-right: 30px;
  margin-bottom: 10px;
  align-items: left;
}

.blockquote {
  color: black;
}

footer {
  background: #743F6F;
}

footer p {
  color: white;
  margin-top: 20px;
}
