/* class */

header {
  background: url(../image/home/banner.jpg) repeat;
}

header img {
  width: 100px;
  margin-top: 20px;
}

nav {
    margin: 10px;
}

nav a {
    color: white;
}

a:hover {
  color: rgb(244, 79, 172);
}

a:active {
  color: rgb(244, 79, 172);
}

/* body {
    background: #743F6F;
} */

.carousel-control-prev, .carousel-control-next {
  background: #743F6F;
  /* background: black; */
}

.container {
    background: white;
}

.white {
    background: white;
}

.yellow {
    background: yellow;
}

.green {
    background: greenyellow;
}

/* more */

.slider-home img {
  width: 680px;
}

.row {
  text-align: center;
  color: purple;
}

.btn {
  background: purple;
}

.carousel-caption h5, p{
  color: black;
}

.footer {
  color: black;
}
